@model MVCHoildays.Models.Holiday
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>There are @Model.DaysUntil days until @Model.Name</h2>
        <img src="~/Images/@Model.Image" />
    </div>
</body>
</html>
